/* ==========================================================================
   RESPONSIVE STYLES
 ========================================================================== */ 

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 1199px) {

    /*------------------------------------------*/
    /*    General Fixes
    /*------------------------------------------*/
    .btn{
        margin-bottom: 10px;
    }

    /*------------------------------------------*/
    /*    Overlay
    /*------------------------------------------*/
    .header .overlay{
        height: 650px;
    }
 /* .navbar-collapse.collapse {
    display: none !important;
  } */

}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (min-width: 992px) {

    /*-------------------------------------------------------------*/
    /*    Set Container Width at 970 also for Large Devices Desktop
    /*-------------------------------------------------------------*/
    .container .grid-md{
        margin:0 auto;
        width: 970px;
    }
  .img-col-bg1 img {
    height: 920px;
  }
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 991px) {

  /*-----------------------------------------------------------*/
  /*    Show Navbar Toggle and Hide Navbar Menu, Bootstrap Fixes
  /*-----------------------------------------------------------*/
  .fixed-top {
    background: #323a45;
    background: rgba(50, 58, 69, 0.95);
    padding-top: 0;
    padding-bottom: 0;
  }
  .img-right{
    display: none;
  }
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: none;
  }

  /* .navbar-collapse.collapse {
    display: none !important;
  } */

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
  }

  .navbar-nav > li > a.btn-nav {
    margin: 3px 0 5px 15px;
    padding: 5px;
  }

  /*------------------------------------------*/
  /*   Image with Action
  /*------------------------------------------*/
  .img-with-action {
    padding-left: 15px;
    padding-right: 15px;
  }

  .img-col-bg1 img {
    height: 920px;
  }

}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 767px) {

  /*----------------------------------------------------------------------*/
  /*    IMPORTANT!!! DISABLE WOW ANIMATION ON SMALL SCREENS (<768px)
  /*-----------------------------------------------------------------------*/
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }

  /*------------------------------------------*/
  /*    Typography
  /*------------------------------------------*/
  .app-box{
    display: none;
  }
  .img-col-bg1{
    display: none;
  }
  h2 {
      text-align: left;
  }
  .large {
    text-align: left;
  }

  /*------------------------------------------*/
  /*   About - Intro Features
  /*------------------------------------------*/
  .intro-features {
    text-align: left;
  }

  .intro-features .intro-content {
    margin-bottom: 50px;
  }

  .intro-features .intro-content:last-child {
    margin-bottom: 0;
  }

  .intro-content .icon-lg {
    display: inline-block;
    margin-bottom: 20px;
    width: 90px;
  }

  .intro-content h4 {
    display: inline-block;
    position: relative;
    bottom: 20px;
  }

  /*------------------------------------------*/
  /*    Team
  /*------------------------------------------*/
  .team .team-box {
    margin-bottom: 50px;
  }

  .team h4 {
    margin-bottom: 10px;
  }

  .team .team-img {
    width: 30%;
    float: left;
    clear: both;
    margin-top: 0;
    margin-right: 10px;
  }

  .team .team-bio {
    border-bottom: 1px solid transparent;
  }

  .team .team-url {
    display: none;
  }

  .margin1 {
    margin-left: 13px;
  }

  .n-m-r-md {
    margin-left: 0;
    padding-top: 10px;
    padding-left: -11px;
  }

  .p-b-0 {
    padding-bottom: 15px !important;
  }
}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 599px) {

    /*------------------------------------------*/
    /*   Typography
    /*------------------------------------------*/
    h1{
        font-size: 42px;
        line-height: 46px;
    }

    h2{
        font-size: 38px;
        line-height: 42px;
    }

    h3{
        font-size: 28px;
        line-height: 32px;
    }

    /*------------------------------------------*/
    /*    Team
    /*------------------------------------------*/
    .team .team-box{
        margin-bottom: 30px;
    }

    .team .team-box:last-child{
        margin-bottom: 0;
    }

    .team h4{
        margin-bottom: 5px;
    }

    /*------------------------------------------*/
    /*   Header Slider
    /*------------------------------------------*/
    .slider-text{
        display: inline;
    }

    .slider h1{
        font-size: 38px;
        line-height: 42px;
    }

}


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
@media (max-width: 479px) {

    /*------------------------------------------*/
    /*   Typography
    /*------------------------------------------*/
    h1{
        font-size: 40px;
        line-height: 44px;
    }

    h2{
        font-size: 37px;
        line-height: 39px;
    }

    /*------------------------------------------*/
    /*    Hero-Section
    /*------------------------------------------*/
    .hero-section .btn{
        margin-bottom: 5px;
    }

    .team h4{
        margin-bottom: 5px;
    }

    .team-img .img-icons span i{
        font-size: 60px;
        width: 60px;
        height: 60px;
        padding: 5%;
    }

}


@media (max-width: 767px) {


.documentation_wrapper .documentation-detail-wrapper {
	text-align: center;
}

.documentation_wrapper .documentation-detail-wrapper .field_domain_image {
    width: 100%;
	margin-top: 20px;
    margin-right: 0px;

}

}