/**
 *
 * @Stratus Meridian Developer Portal Custom Stylesheet - Swagger
 *
 */


.swagger-ui {


	.btn-primary {
		color: #fff;
		border-color: #007bff;
		background-color: #007bff;
		box-shadow: none;
	}

	.btn-outline-primary {
		color: #007bff;
		border-color: #007bff;

		&:hover {
			color: #fff!important;
		}
	}

	.border-box, a, article, body, code,
	dd, div, dl, dt, fieldset, footer, form,
	h1, h2, h3, h4, h5, h6, header, html,
	input[type=email], input[type=number],
	input[type=password], input[type=tel],
	input[type=text], input[type=url], legend,
	li, main, ol,p, pre, section, table, td,
	textarea, th, tr, ul, label {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
		font-weight: 400;
		line-height: 1.5;
	}

	p {
		font-size: 15px;
	}

	select, .opblock, .btn,
	section.models, input[type=email],
	input[type=number], input[type=password],
	input[type=tel], input[type=text],
	input[type=url], select, textarea,
	.opblock-body pre.microlight {
		-webkit-border-radius: .2rem;
		border-radius: .2rem;
	}

	.parameter__name.required:after {
		display: block;
		padding: 5px 0;
	}

	.parameter__type {
		padding: 0;
	}

	.btn.authorize {
		color: #17c671;
		border-color: #17c671;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
		svg {
			fill: #17c671;
		}
	}

	.info {
		a {
			color: #007bff;
		}

		hgroup.main {
			a {
				margin-top: 1rem;
			}
		}
	}

	.wrapper {
		padding: 0;
	}

	.information-container {
		margin-bottom: 40px;

		.info {
			margin: 0!important;

			.description {
				margin: 0;
			}

			.info__tos, .info__contact,
			.info__license, .info__extdocs {
				display: none;
			}
		}
	}

	.scheme-container {
		padding: 0;
		margin: 0 0 40px 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.opblock-tag {
		background-color: #f9f9f9!important;

		small {
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
		}

		a.nostyle {
			font-weight: 500;
			text-transform: capitalize;
		}

		.markdown {
			padding-top: 2px;

			p {
				font-size: 14px;
			}
		}

		div > small {
			display: none;
		}

		button.expand-operation {
			margin-right: -20px;
		}
	}

	.opblock-tag-section {
		background-color: #f9f9f9!important;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 20px;
	}

	.opblock {
		-webkit-border-radius: 0;
		border-radius: 0;

		.opblock-summary-method {
			-webkit-border-radius: 0;
			border-radius: 0;
		}
	}

	.opblock.opblock-post {
		border-color: #17C671;
		background: rgba(23,198,113,.1);

		.opblock-summary {
			border-color: #17C671;
		}

		.opblock-summary-method {
			background: #17C671;
		}
	}

	.opblock.opblock-get {
		border-color: #0067f4;
		background: rgba(0,103,244,.1);

		.opblock-summary {
			border-color: #0067f4;
		}

		.opblock-summary-method {
			background: #0067f4;
		}
	}

	.opblock.opblock-put {
		border-color: #ffb400;
		background: rgba(255,180,0,.1);

		.opblock-summary {
			border-color: #ffb400;
		}

		.opblock-summary-method {
			background: #ffb400;
		}
	}

	.opblock.opblock-delete {
		border-color: #C4183C;
		background: rgba(196,24,60,.1);

		.opblock-summary {
			border-color: #C4183C;
		}

		.opblock-summary-method {
			background: #C4183C;
		}
	}

	.opblock.opblock-deprecated {
		border-color: #5A6169;
		background: rgba(90,97,105,.1);

		.opblock-summary {
			border-color: #5A6169;
		}

		.opblock-summary-method {
			background: #5A6169;
		}
	}

	table {
		tbody {
			tr {
				td {
					vertical-align: middle;

					&:first-of-type {
						font-weight: 500;
						vertical-align: middle;
					}
				}
			}
		}
	}

	section.models {
		.model-container {
			-webkit-border-radius: 0;
			border-radius: 0;
		}
	}
}

@media only screen and (min-width: 576px) {
	.swagger-ui {
		.info {
			hgroup.main {
				a {
					visibility: hidden;
					position: absolute;
					right: 0;
					top: 0;
					margin-top: 1.25rem;
				}
			}
		}
	}
}
