/**
 * Stratus Meridian Developer Portal Theme - SASS
@*/

// $google-fonts-import: 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono' !default; // Includes: Poppins: Light, Regular, Medium, Semi-bold; Roboto Mono: Regular
$google-fonts-import: 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto&display=swap' !default;

// $font-family-headings-first: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Arial, sans-serif !default;
// $font-family-system-first: -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Arial, sans-serif !default;
// $font-family-roboto-mono-first: "Poppins Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-headings-first: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Helvetica Neue", Arial, sans-serif !default;
$font-family-system-first: -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Helvetica Neue", Arial, sans-serif !default;
$font-family-roboto-mono-first: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-sans-serif: $font-family-system-first !default;
$font-family-monospace:  $font-family-roboto-mono-first !default;
$font-family-base:       $font-family-sans-serif !default;

$h1-font-size: 3.052rem !default;
$h2-font-size: 2.441rem !default;
$h3-font-size: 1.953rem !default;
$h4-font-size: 1.563rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$h1-lineheight: 1.3 !default;
$h2-lineheight: 1.4 !default;
$h4-lineheight: 1.6 !default;
$h6-lineheight: 1.2 !default;

$base-font-weight: 400 !default;
$menu-font-weight: 450 !default;
$font500-font-weight: 500 !default;

$letter-spacing: 0.30px;

.h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	letter-spacing: $letter-spacing;
	color: #2a2c2d;
	font-family: $font-family-headings-first;
	font-weight: $font500-font-weight!important;
}

h1, .h1 { font-size: $h1-font-size; line-height: $h1-lineheight; }
h2, .h2 { font-size: $h2-font-size; line-height: $h2-lineheight; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; line-height: $h4-lineheight; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; line-height: $h6-lineheight; }

p {
	font-size: 1rem;
	letter-spacing: $letter-spacing;
	margin-bottom: 1rem;
}

.nav {
	font-size: 1rem;
	font-family: $font-family-base;
}
