<div class="latest-section py-4">
	<h3 class="section-heading text-center m-5">{{ content.field_title }}</h3>
	<div class="container">
	  <div class="py-4">
	    <div class="row">
	      <div class="card-deck">
	        {{ content.field_posts_boxes }}
	      </div>
	    </div>
	  </div>
	</div>
</div>