<div class="col-sm-6 col-lg-4 section_margin">
    <!-- Figures -->
    <div class="text-center">
      <h3 class="display-title text-primary font-weight">{{ content.field_stats_amount[0] }}</h3>
      <p class="display-desc">{{ content.field_description[0] }}</p>
    </div>
    <!-- End Figures -->
</div>