<!-- Pricing Section -->
 <div class="container mr-btm">
      <div class="item slider-move-none">
      <ul id="content-slider1" class="content-slider1">
          {{ content.field_pricing_boxes }}
      </ul>
  </div>
    <!-- Pricing Carousel -->
    <!-- End Pricing Carousel -->
</div>
<!-- End Pricing Section -->