<!-- Features Section -->
<div class="container con-space">
    <!-- Nav Classic -->
    <div class="position-relative width-lg bg-white text-center z-index mx-lg-auto">
      {{ content.field_tabs_menu }}
    </div>
    <!-- End Nav Classic -->

    <!-- Tab Content -->
    <div class="tab-content">

      {{ content.field_info_3_boxes }}
      
    </div>
    <!-- End Tab Content -->
</div>
<!-- End Features Section -->