<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-4">
                {{ page.logo }}
            </div>
            <div class="col-sm-4">
                 {% if page.footer_second %}
                      {{ page.footer_second }}
                 {% endif %}
            </div>
            <div class="col-sm-4">
              {% if page.footer_third %}
                  {{ page.footer_third }}
              {% endif %}
            </div>
        </div>
    </div>
</nav>